#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 35em;
  padding: 2em;
}

.inputAndButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}